h1{
	text-align: center;
	color:#AC2525;
}
.subtitle{
	color: #C4C1C1;
}
.lineSeparate{
	background-color: black;
	height: 2px;
}
.styleContent{
	border-style: dashed;
}

.bloq-descr{

	background: #FBF9F9;

	}
.bloq-descr2{
	position: relative;
	}